{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" img src="{% static "images/church-outside.jpg" %}">
                <p>Pretty Prairie United Methodist Church</p>
            </div>

            <div class="col-md-4">
                <h3>Church History</h3>
                <p>"In 1891 the house for school district No. 149 was built, the first building erected in the town of Pretty Prairie suitable for holding religions services. At this time Rev. C.A. Lakey, a pioneer evangelist, who had been preaching everywhere he could find a place to gather the people together, had organizing a Methodist Sunday School. In the spring of 1892 he organized a church." -Taken from A Brief History of the Pretty Prairie United Methodist Church, 1938</p>
                <p>Many revivals would take place, growing the membership, until the church would be raised at its present location in 1929.</p>
                <h5 class="pull-right"><a href="{{ "/" }}">Back to Home</a></h5>
            </div>

        </div>
        <!-- /.row -->
        
{% endblock content %}