{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" img src="{% static "images/adult-choir.jpg" %}">
                <p>Church Choir</p>
            </div>

            <div class="col-md-4">
                <h3>Music Ministry</h3>
                <p>Pretty Prairie United Methodist Church has a thriving Music Ministry, including Chancel Choir, Children's Choir, special music during the summer and music programs through the year.</p>
                <h5 class="pull-right"><a href="{{ "/" }}">Back to Home</a></h5>
            </div>

        </div>
        <!-- /.row -->
        
{% endblock content %}
