---
layout: default
permalink: /about/
---

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <!--<img class="img-responsive" img src="images/church-outside-large.jpg">-->
                <img class="img-responsive" img src="{{ "/images/church-outside-large.jpg" | prepend: site.baseurl }}">
            </div>

            <div class="col-md-4">
                <h3>Pretty Prairie United Methodist Church</h3>
                <p>Pastor - Susan Greene</p>
                <p>Worship - Sundays at 11:00 a.m.</p>
                <p>Sunday School - 10:00 a.m. to 10:45 a.m.</p>
                <p>Address - 201 S. Rhodes St., P.O. Box 324, Pretty Prairie, KS, 67570</p>
                <p>Telephone - 620-459-6671</p>
                <p>Email - ppumc@embarqmail.com</p>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Related Projects Row -->
        <div class="row">

             <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.450024331234!2d-98.02324884989933!3d37.77949201956326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87a4d96641b73d75%3A0xa8e850033dbd2289!2sPretty+Prairie+United+Methodist+Church!5e0!3m2!1sen!2sus!4v1475020253068" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <p>Pretty Prairie United Methodist Church</p>
                <p>201 S. Rhodes St.</p>
                <p>Pretty Prairie, KS, 67570 </p>                                    
             </div>

             <hr>
                
             <div class="col-lg-12">
                <p>Pretty Prairie United Methodist Church</p>
                <p>201 S. Rhodes St.</p>
                <p>Pretty Prairie, KS, 67570 </p>                                    
            </div>               
                
        </div>
        <!-- /.row -->
