---
layout: default
permalink: /activities/
---

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center><strong><h3>"This is the day that the Lord has made; let us rejoice and be glad in it." Psalm 118:24</h3></strong></center>
                </div>
            </div>
        </div>
        
        <div class="row">

            <div class="col-md-4 portfolio-item">
                    <!--<img class="img-responsive" img src="images/gretas-dog.jpg">-->
                    <img class="img-responsive" img src="{{ "/images/gretas-dog.jpg" | prepend: site.baseurl }}">
            </div>

            <div class="col-md-4 portfolio-item">
                    <!--<img class="img-responsive" img src="images/thanksgiving-service.jpg">-->
                    <img class="img-responsive" img src="{{ "/images/thanksgiving-service.jpg" | prepend: site.baseurl }}">
            </div> 

            <div class="col-md-4 portfolio-item">
                    <!--<img class="img-responsive" src="images/musicians.jpg">-->
                    <img class="img-responsive" img src="{{ "/images/musicians.jpg" | prepend: site.baseurl }}">
            </div>

        </div>

                    <hr>

    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Worship and Sunday School</p>
            </div>

            <div class="col-md-9">

                <div class="well">
                    <h4>Worship</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <p><strong>Worship Service</strong> - Sundays at 11:00 a.m.</p>
                                <p><strong>Communion</strong> - 1st Sunday of the month (portable communion set given in memory of Rev. Herbert Bolinger available for shut-ins)</<p>
                                <p><strong>Nursery</strong> - Children up to Kindergarten age are welcome during the Worship Service, in the west side of the Basement</p>
                                <p><a href="http://www.prairiesunsethome.org" target="_blank"><strong>Prairie Sunset Home Service</strong></a> - 1st Sunday of the month at 4:30 p.m.</p>
                                <p><strong>CD Ministry</strong> - Recordings of the Worship Service are available</p>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                             <ul class="list-unstyled">
                                <p><strong>Sunday School</strong> - 10:00 a.m. to 10:45 a.m.</p>
                                <p><strong>Grade School Class</strong> - Meets in the south classroom on the west side of the Basement</<p>
                                <p>Joy Fellowship (Young Adult)</strong> - Meets in the classroom on west side of the First Floor</p>
                                <p><strong>Agape (Older Adult)</strong> - Meets on the west side of the Fellowship Hall</p>
                            </ul>
                        </div>
                    </div>

                </div>

                    <!--<hr>-->
                    
            </div>

        </div>

<!--
                    <hr>

       <div class="row">

            <div class="col-md-3">
                <p class="lead">Special Ministries</p>
            </div>

            <div class="col-md-9">

                <div class="well">
                    <h4>Blog Categories</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>                            
                          <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>                 
                                       
            </div>

        </div>

                <hr>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Fellowship, Study and Mission</p>
            </div>

            <div class="col-md-9">

                <div class="well">
                    <h4>Blog Categories</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
   
            </div>

        </div>

                    <hr>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Traditional Church Calendar</p>
            </div>

            <div class="col-md-9">

                <div class="well">
                    <h4>Blog Categories</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

                    <hr>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Annual Events</p>
            </div>

            <div class="col-md-9">

                <div class="well">
                    <h4>Blog Categories</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

                    <hr>

       <div class="row">

            <div class="col-md-3">
                <p class="lead">Community</p>
            </div>

            <div class="col-md-9">

                <div class="well">
                    <h4>Blog Categories</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

                    <hr>
-->
    </div>
    <!-- /.container -->
