{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Projects Row -->
        <div class="row">
        
            <div class="col-md-4 portfolio-item">
                <a href="{% url 'welcome' %}">
                    <img class="img-responsive" src="{% static "images/welcome-sign.jpg" %}">
                </a>
                <p>Pastor's Welcome</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{% url 'worship' %}">
                    <img class="img-responsive" src="{% static "images/church-sanctuary.jpg" %}">
                </a>
                <p>Worship Service and Sunday School</p>
            </div> 

            <div class="col-md-4 portfolio-item">
                <a href="{% url 'global-church' %}">
                    <img class="img-responsive" src="{% static "images/rethink-church-logo.jpg" %}">
                </a>
                <p>Global Church and Mission</p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-4 portfolio-item">
                <a href="{% url 'music-ministry' %}">
                    <img class="img-responsive" src="{% static "images/adult-choir.jpg" %}">
                </a>
                <p>Music Ministry</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{% url 'church' %}">
                    <img class="img-responsive" src="{% static "images/church-outside.jpg" %}">
                </a>
                <p>Church History</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{% url 'children-and-youth-ministries' %}">
                    <img class="img-responsive" src="{% static "images/childrens-choir.jpg" %}">
                </a>
                <p>Children and Youth Ministries</p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-4 portfolio-item">
                <a href="{% url 'united-methodist-women' %}">
                    <img class="img-responsive" src="{% static "images/umw.jpg" %}">
                </a>
                <p>United Methodist Women</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{% url 'community-outreach' %}">
                    <img class="img-responsive" src="{% static "images/umw-mission.jpg" %}">
                </a>
                <p>Community Outreach</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{% url 'pretty-prairie' %}">
                    <img class="img-responsive" src="{% static "images/sunflowers.jpg" %}">
                </a>
                <p>Pretty Prairie, Kansas</p>
            </div>

        </div>
        <!-- /.row -->
        
{% endblock content %}