---
layout: default
---

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-4 portfolio-item">
                <a href="{{ "/welcome/" | prepend: site.baseurl }}">
                    <img class="img-responsive" img src="images/welcome-sign.jpg">
                </a>
                <p>Pastor's Welcome</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{{ "/worship/" | prepend: site.baseurl }}">
                    <img class="img-responsive" img src="images/church-sanctuary.jpg">
                </a>
                <p>Worship Service and Sunday School</p>
            </div> 

            <div class="col-md-4 portfolio-item">
                <a href="{{ "/global-church/" | prepend: site.baseurl }}">
                    <img class="img-responsive" src="images/rethink-church-logo.jpg">
                </a>
                <p>Global Church and Mission</p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-4 portfolio-item">
                <a href="{{ "/music-ministry/" | prepend: site.baseurl }}">
                    <img class="img-responsive" src="images/adult-choir.jpg">
                </a>
                <p>Music Ministry</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{{ "/church/" | prepend: site.baseurl }}">
                    <img class="img-responsive" src="images/church-outside.jpg">
                </a>
                <p>Church History</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{{ "/children-and-youth-ministries/" | prepend: site.baseurl }}">
                    <img class="img-responsive" src="images/childrens-choir.jpg">
                </a>
                <p>Children and Youth Ministries</p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-4 portfolio-item">
                <a href="{{ "/united-methodist-women/" | prepend: site.baseurl }}">
                    <img class="img-responsive" src="images/umw.jpg">
                </a>
                <p>United Methodist Women</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{{ "/community-outreach/" | prepend: site.baseurl }}">
                    <img class="img-responsive" src="images/umw-mission.jpg">
                </a>
                <p>Community Outreach</p>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="{{ "/pretty-prairie/" | prepend: site.baseurl }}">
                    <img class="img-responsive" src="images/sunflowers.jpg">
                </a>
                <p>Pretty Prairie, Kansas</p>
            </div>

        </div>
        <!-- /.row -->
